.tag {
  &__wrapper {
    &-doubt {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      padding: 4px 8px;
      background-color: rgb(255 237 213);
    }
    &-order {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      padding: 4px 8px;
      background-color: rgb(250 232 255);
    }
    &-integration {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      padding: 4px 8px;
      background-color: rgb(224 231 255);
    }
  }
  &__icon {
    &-doubt {
      display: flex;
      height: 16px;
      width: 16px;
      margin-right: 4px;
      color: rgb(251 146 60);
    }
    &-order {
      display: flex;
      height: 16px;
      width: 16px;
      margin-right: 4px;
      color: rgb(192 38 211);
    }
    &-integration {
      display: flex;
      height: 16px;
      width: 16px;
      margin-right: 4px;
      color: rgb(67 56 202);
    }
  }
  &__label {
    font-size: 12px;
    font-weight: 500;
    &-doubt {
      color: rgb(251 146 60);
      font-size: 13px;
      font-weight: 500;
    }
    &-order {
      color: rgb(192 38 211);
      font-size: 13px;
      font-weight: 500;
    }
    &-integration {
      color: rgb(67 56 202);
      font-size: 13px;
      font-weight: 500;
    }
  }
}
